@use "variaveis";

$cor_principal: #FFA600;
$cor_secundaria: #000000;
$cor_terceira: #303030;



@mixin center{
    align-items: center;
    justify-content: center;
}


.hero{    
    background-image: url("/public/_hero.png");
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: none;

    color: white;
    .redesSociais{
        ul{
            display: flex;
            @include center();
            gap: 20px;

            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 48px;
                }
            }
        }
    }
    .textHero{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        h1{
            font-size: 56px;
        }
        
        .heroLink{
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            border-radius: 10px;
        }
        .heroLinkCriar{
            background-color: $cor_principal;
            color: white;
            padding: 10px;
        }
        .heroLinkEntrar{
            border: white 2px solid;
            color: $cor_principal;
            padding: 10px;
        }
        .heroButoes{
            display: flex;
            gap:15px;
        }

    }
    

}

