@use "index" as v;


@keyframes clicaEmMinCriarConta {
    0% {
        transform: scaleX(1) translateY(0px);
    }

    100% {
        transform: scaleX(1.1) translateY(-18px) rotateZ(-10deg);

    }
}

@keyframes clicaEmMinEntrar {
    0% {
        transform: scaleX(1);
    }

    80% {
        transform: scaleX(1.1) scaleY(1);

    }

    90% {
        transform: scaleX(1) scaleY(1.1);
    }

    100% {
        transform: scaleX(1.1) scaleY(1);
    }
}








.hero {
    background-image: url("/public/_hero.png");
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    @include v.center;

    color: white;

    .redesSociais {
        ul {
            display: flex;
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 48px;
                }
            }
        }
    }

    .textHero {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;

        h1 {
            font-size: 56px;
        }

        .heroLink {
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            border-radius: 10px;
        }

        .heroLinkCriar {
            background-color: v.$cor_principal;
            color: white;
            padding: 10px;
            animation: clicaEmMinCriarConta 1s infinite alternate ease-in-out;


        }

        .heroLinkEntrar {
            border: white 2px solid;
            color: v.$cor_principal;
            padding: 10px;
            animation: clicaEmMinEntrar 1s infinite alternate;

        }

        .heroButoes {
            display: flex;

            gap: 15px;
        }

    }


}