@use "index" as ui;


section.sobre{
    display: flex;
    gap: 40px;
    padding: 20px;
    
    @include ui.center;
    .imgSobre{
        img{
            width: 550px;
        }
    }
    .textSobre{
        max-width: 550px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }




}

